
body {
	background-color: #ABC1C8;
	color: black;
	text-align: justify;
	margin: 50px 0px 20px 30px;
	font-family:Arial;
}	


#nav {
	    display:inline-block;
	    width:55%;
	    margin:0px auto;
	    padding:0;
	    background:#335599 url(../images/bg.png) repeat-x 0 -110px;
	 
	    border-radius:10px;
	    -moz-border-radius:10px;
	    -webkit-border-radius:10px;

	}
	#nav li {
	    margin:8px;
	    float:left;
	    position:relative;
	    list-style:none;
	}
	#nav a {
	    font-weight:bold;	    
	    border-radius:10px; 
	    -moz-border-radius:10px;
	    -webkit-border-radius:10px;
	    text-shadow:0 2px 2px gba(0,0,0, .7);
	    color:#e7e5e5;
	    text-decoration:none;
	    display:block;
	    padding:3px 15px;
	 


	}
	 
	  #nav .current a, #nav li:hover > a {
	    background:#7788aa url(../images/bg.png) repeat-x 0 -20px;
	    color:#000;
	    border-top:1px solid #f8f8f8;

	}

.radius {
    	background: #f0f0f0; 
    	border: 1px solid black; 
    	padding: 15px;
	width: 75%;
    	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;

   	}
p.uppercase {text-transform:uppercase;}
h {font-size:2em;
margin-left: 4%;}
p1 {text-align: center};
h2 {font-size:1.3em;}
a:link {text-decoration:none;}  
a:visited {text-decoration:none;} 
a:hover {text-decoration:underline;} 
a:active {text-decoration:underline;}
	    